@charset "utf-8";
@font-face {
  font-family: WB_icon;
  src: url("font/wbficon.woff");
}
.wb-icon {
  font-family: WB_icon;
  font-size: 22px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 26px;
}
html,
body,
dl,
dt,
dd,
ul,
li,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
img,
input,
textarea,
blockquote,
td,
th {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video,
span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
/*
     * Addresses `quotes` property not supported in Safari 4.
     */
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
}
/*
     * Removes inner padding and border in Firefox 3+.
     */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
textarea {
  resize: none;
}
body {
  font: 12px/1.3 "Microsoft yahei", "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background-color: #fff;
  color: #696E78;
}
a {
  color: #333333;
  text-decoration: none;
}
a:visited {
  color: #666;
}
a:hover,
a:focus {
  color: #fa7d3c;
}
::selection {
  background-color: #eb7350;
  color: #fff;
}
input[type="text"],
input[type="password"],
textarea {
  border: none;
  outline: none;
  border: 0;
}
body {
  background-color: #B4DAF0;
}
.header {
  display: block;
  width: 100%;
  height: 48px;
  z-index: 9999;
  border-top: 2px solid #fa7d3c;
  background-color: #ffffff;
}
.header .header-content {
  width: 1280px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.header .header-wblogo {
  float: left;
}
.header .header-wblogo a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 140px;
  height: 48px;
  background: url("../images/WB_logo.png") no-repeat center center;
}
.header .header-search {
  float: left;
  position: relative;
  width: 548px;
  height: 28px;
  margin-top: 9px;
  border: 1px solid #ccc;
  background-color: #f2f2f5;
}
.header .header-search input {
  position: absolute;
  left: 0;
  top: 0;
  padding: 4px 33px 4px 10px;
  width: 505px;
  height: 20px;
  line-height: 20px;
  background-color: #f2f2f5;
}
.header .header-search a {
  position: absolute;
  left: 520px;
  top: 0;
}
.header .header-nav {
  float: right;
  height: 26px;
  margin-top: 11px;
}
.header .header-nav nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.header .header-nav .nav-right ul {
  height: 26px;
  border-left: 1px solid #D9D9D9;
  margin-left: 30px;
}
.header ul li {
  float: left;
  font-size: 14px;
  height: 26px;
  margin-left: 30px;
}
.header ul a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 26px;
  height: 26px;
}
.header ul span {
  vertical-align: middle;
}
#wb-main {
  width: 100%;
}
#wb-main #wb-main-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  background-color: #93c5e2;
  *zoom: 1;
}
#wb-main #wb-main-content:before,
#wb-main #wb-main-content:after {
  display: block;
  content: "";
}
#wb-main #wb-main-content:after {
  clear: both;
}
#wb-main #left-of-main {
  width: 150px;
  float: left;
}
#wb-main #left-of-main a {
  color: #fff;
}
#wb-main #left-of-main fieldset {
  border-top: 1px solid #A9D1E8;
  padding-left: 110px;
}
#wb-main #left-of-main ul.fir-ul {
  font-size: 14px;
  font-weight: bold;
}
#wb-main #left-of-main .left-ul-line {
  height: 12px;
}
#wb-main #left-of-main .left-ul-line .wb-icon {
  text-align: center;
}
#wb-main #left-of-main li {
  height: 35px;
  line-height: 35px;
  padding-left: 16px;
}
#wb-main #left-of-main li:hover {
  background-color: #A9D1E8;
}
#wb-main #left-of-main .wb-icon {
  font-size: 14px;
  width: 18px;
}
#right-of-main {
  width: 850px;
  float: left;
  font-size: 0;
}
#right-left-content {
  width: 600px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  vertical-align: top;
}
#right-left-content > div {
  background: #fff;
  margin-bottom: 10px;
}
#right-left-content .write-wb {
  padding: 15px 10px 10px;
}
#right-left-content .some-hot {
  width: 100%;
  height: 21px;
  text-align: top;
  margin-bottom: 4px;
  *zoom: 1;
}
#right-left-content .some-hot:before,
#right-left-content .some-hot:after {
  display: block;
  content: "";
}
#right-left-content .some-hot:after {
  clear: both;
}
#right-left-content .some-hot img {
  float: left;
}
#right-left-content .some-hot .hot-weibo {
  float: right;
}
#right-left-content .some-hot .hot-weibo .weibo-link {
  color: #eb7350;
}
#right-left-content .text-area {
  width: 578px;
  height: 68px;
  border: 1px solid #ccc;
  position: relative;
}
#right-left-content .text-area textarea {
  width: 568px;
  height: 58px;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
}
#right-left-content .write-nav {
  width: 100%;
  height: 35px;
}
#right-left-content .write-nav .wb-icon {
  font-size: 20px;
}
#right-left-content .write-nav li {
  height: 35px;
}
#right-left-content .write-nav li.fir-li {
  float: left;
}
#right-left-content .write-nav li.sec-li {
  float: right;
  margin-right: -14px;
}
#right-left-content .write-nav li.sec-li a {
  margin-top: 5px;
}
#right-left-content .write-nav li.sec-li a .ficon-more {
  font-size: 12px;
  margin-left: 5px;
}
#right-left-content .write-nav li.sec-li a.send {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 62px;
  height: 30px;
  padding: 0 10px;
  background-color: #FFC09F;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
#right-left-content .write-nav li .ficon-face {
  color: #ff9000;
}
#right-left-content .write-nav li .ficon-image {
  color: #84c002;
}
#right-left-content .write-nav li .ficon-video {
  color: #737e95;
}
#right-left-content .write-nav li .ficon-swtopic {
  color: #5a8ce6;
}
#right-left-content .write-nav li .ficon-artical {
  color: #ff8200;
  margin-right: -3px;
}
#right-left-content .write-nav a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 35px;
  margin-right: 14px;
}
#right-left-content .write-nav .more {
  font-size: 22px;
}
#right-left-content .write-nav .more span {
  margin-top: -10px;
}
#right-left-content .write-nav span {
  vertical-align: middle;
}
#right-left-content #wb-tab-box {
  *zoom: 1;
}
#right-left-content #wb-tab-box:before,
#right-left-content #wb-tab-box:after {
  display: block;
  content: "";
}
#right-left-content #wb-tab-box:after {
  clear: both;
}
#right-left-content #wb-tab-box ul {
  height: 38px;
  float: left;
  line-height: 38px;
}
#right-left-content #wb-tab-box li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 38px;
  height: 31px;
  padding-left: 14px;
}
#right-left-content #wb-tab-box .input-box {
  float: right;
  width: 162px;
  height: 24px;
  border: 1px solid #ccc;
  position: relative;
  margin: 6px 10px 0 0;
}
#right-left-content #wb-tab-box .input-box input {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 18px;
  font-family: "Microsoft Yahei", "微软雅黑";
  padding: 3px;
  line-height: 24px;
  color: #808080;
}
#right-left-content #wb-tab-box .input-box span {
  float: right;
  width: 33px;
  height: 24px;
  font-size: 0;
  line-height: 24px;
  opacity: 0.5;
}
#right-left-content #wb-tab-box .input-box .search {
  font-size: 16px;
  width: 16px;
  height: 20px;
}
#right-left-content #wb-tab-box .input-box .down-arrow {
  font-size: 14px;
  width: 14px;
  height: 18px;
  margin-left: 3px;
}
#right-left-content .wb-main {
  padding: 20px 20px 4px 20px;
  *zoom: 1;
}
#right-left-content .wb-main:before,
#right-left-content .wb-main:after {
  display: block;
  content: "";
}
#right-left-content .wb-main:after {
  clear: both;
}
#right-left-content .wb-main .wb-user-image {
  float: left;
}
#right-left-content .wb-main .wb-user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#right-left-content .wb-main .wb-detail {
  float: left;
  margin-left: 10px;
  line-height: 24px;
}
#right-left-content .wb-main .wb-detail img {
  width: 498px;
  height: 300px;
  border: 1px solid #ccc;
}
#right-left-content .wb-main .wb-detail .wb-user-name {
  font-size: 14px;
}
#right-left-content .wb-main .wb-detail .wb-user-name a {
  color: #000;
  font-weight: 700;
}
#right-left-content .wb-main .wb-detail .wb-user-name a:hover {
  color: #fa7d3c;
}
#right-left-content .wb-main .wb-detail .wb-text {
  font-size: 14px;
}
#right-left-content .wb-operate {
  width: 597px;
  height: 39px;
  border-top: 1px solid #F2F2F5;
}
#right-left-content .wb-operate li {
  float: left;
  width: 25%;
}
#right-left-content .wb-operate li .wb-icon {
  font-size: 15px;
}
#right-left-content .wb-operate li a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100%;
  height: 22px;
  text-align: center;
  margin-top: 7px;
  border-right: 1px solid #d9d9d9;
}
#right-left-content .wb-operate li:nth-of-type(4) a {
  border-right: none;
}
#right-left-content .wb-operate li:nth-of-type(4) .praise-icon {
  width: 12px;
  height: 13px;
  margin-right: 5px;
  background: url("../images/icon.png") no-repeat -100px -25px;
}
#right-left-content .wb-operate li:nth-of-type(4) .praise-icon:hover {
  background: url("../images/icon.png") no-repeat -125px -25px;
}
#right-left-content .wb-operate li span {
  vertical-align: middle;
}
#right-right-bar {
  width: 230px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: top;
}
#right-right-bar > div {
  background: #fff;
  margin-bottom: 10px;
}
#right-right-bar .user-info {
  width: 100%;
  height: 165px;
}
#right-right-bar .bg-top {
  position: relative;
  width: 100%;
  height: 75px;
  background: url("../images/skin.png") repeat-x 0 0;
}
#right-right-bar .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: -30px;
  position: absolute;
  left: 50%;
  top: 35px;
}
#right-right-bar .info-main {
  padding: 16px 16px 9px;
  text-align: center;
}
#right-right-bar .namebox {
  padding-top: 5px;
}
#right-right-bar .namebox .username {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
#right-right-bar .namebox .wb_icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 14px;
  height: 14px;
  margin-left: 3px;
  background: url("../images/icon.png") no-repeat 0 -200px;
}
#right-right-bar .namebox .level-icon {
  background-color: #fe7e00;
  border-radius: 8px;
}
#right-right-bar .namebox .text-out {
  width: 25px;
  height: 14px;
  padding: 0 5px 0 3px;
  margin-left: 3px;
}
#right-right-bar .namebox .text-in {
  color: #fff;
  letter-spacing: -0.1em;
  font-style: italic;
}
#right-right-bar .user-atten li {
  float: left;
  width: 63px;
  height: 33px;
  border-right: 1px solid #D9D9D9;
  margin-top: 8px;
}
#right-right-bar .user-atten li:nth-of-type(3) {
  border: none;
}
#right-right-bar .user-atten strong {
  display: block;
  font-size: 18px;
  line-height: 19px;
  overflow: hidden;
}
#right-right-bar .user-atten span {
  color: #808080;
}
#right-right-bar .topic-title-line {
  height: 38px;
  padding: 0 16px;
  border-bottom: 1px solid #f2f2f5;
  line-height: 38px;
}
#right-right-bar .topic-title-line .topic-title {
  float: left;
  font-size: 14px;
  font-weight: 700;
}
#right-right-bar .topic-title-line .change {
  float: right;
}
#right-right-bar .topic-title-line .change .wb-icon {
  font-size: 14px;
  color: #696e78;
  margin-right: -10px;
}
#right-right-bar .topic-content {
  padding: 16px;
  border-bottom: 1px solid #f2f2f5;
  *zoom: 1;
}
#right-right-bar .topic-content:before,
#right-right-bar .topic-content:after {
  display: block;
  content: "";
}
#right-right-bar .topic-content:after {
  clear: both;
}
#right-right-bar .topic-content li {
  height: 15px;
  padding: 8px 0 0 5px;
}
#right-right-bar .topic-content li a {
  float: left;
}
#right-right-bar .topic-content li span {
  float: right;
}
#right-right-bar .see-more {
  height: 35px;
  text-align: center;
  line-height: 35px;
}
#right-right-bar .see-more .wb-icon {
  font-size: 12px;
}
